
<TextEdit Size="@Theme.Size" Text="@Note.Title" TextChanged="@OnTitleChanged" />

@*<Markdown Value="@Note.Text" ValueChanged="@OnMarkdownValueChanged" />*@

<MemoEdit Class="text-monospace" Rows="@Note.Lines" Text="@Note.Text" TextChanged="@OnMarkdownValueChanged" Placeholder="Add notes" />

<div class="card">
    <div class="card-body p-2 text-monospace">
        @((MarkupString)markdownHtml)
    </div>
</div>