<Pagination Class="m-0">

    @*<PaginationItem Disabled="@(State.SelectedCategoryId == DataService.CategoryList.First().Id)">*@
    <PaginationItem>
        <PaginationLink Clicked="(Page) => { State.PreviousCategory(); }">
            <span aria-hidden="true">«</span>
        </PaginationLink>
    </PaginationItem>

    <PaginationItem Active="@(State.SelectedCategoryId == 0)">
        <PaginationLink Page="0" Clicked="(Page) => { State.SelectedCategoryId = int.Parse(Page); }">
            All
        </PaginationLink>
    </PaginationItem>

    @for (int i = 0; i < DataService.CategoryList.Count; ++i)
    {
        int idx = i;
        string index = i == 0 ? "Main" : i.ToString();
        string css = string.Empty;

        if (State.SelectedCategoryIdx != -1)
        {
            if ((idx > 6 || idx < DataService.CategoryList.Count - 1 - 6) && (idx > State.SelectedCategoryIdx + 3 || idx < State.SelectedCategoryIdx - 3))
            {
                css = "hide-pagination";
            }

            if ((idx > 10 || idx < DataService.CategoryList.Count - 1 - 10) && (idx > State.SelectedCategoryIdx + 5 || idx < State.SelectedCategoryIdx - 5))
            {
                css += " hide-pagination-lg";
            }
        }

        <PaginationItem Class="@css" Active="@(State.SelectedCategoryId == DataService.CategoryList[idx].Id)">
            <PaginationLink Page="@(DataService.CategoryList[idx].Id.ToString())" Clicked="(Page) => { State.SelectedCategoryId = int.Parse(Page); }">
                @index
            </PaginationLink>
        </PaginationItem>
    }

    @*<PaginationItem Disabled="@(State.SelectedCategoryId == DataService.CategoryList.Last().Id)">*@
    <PaginationItem>
        <PaginationLink Clicked="(Page) => { State.NextCategory(); }">
            <span aria-hidden="true">»</span>
        </PaginationLink>
    </PaginationItem>

</Pagination>