<Microsoft.AspNetCore.Components.Web.Extensions.Head.Title Value="The last time"></Microsoft.AspNetCore.Components.Web.Extensions.Head.Title>

@if (bootswatchThemeDict.ContainsKey(BootswatchTheme))
{
    <Microsoft.AspNetCore.Components.Web.Extensions.Head.Link rel="stylesheet" href="@("https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/" + BootswatchTheme + "/bootstrap.min.css")" integrity="@(bootswatchThemeDict[BootswatchTheme])" crossorigin="anonymous" />
}
else
{
    <Microsoft.AspNetCore.Components.Web.Extensions.Head.Link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
}

<div class="top-row navbar navbar-dark bg-primary">
    <a class="navbar-text" href="https://github.com/Jinjinov/TheLastTime" target="_blank"><span class="fab fa-github"></span></a>
    <a class="navbar-text" href="">When was the last time?</a>

    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass">
    <ul class="nav flex-column">

        <li class="nav-item px-2 pt-2">
            <Check TValue="bool" Checked="@DataService.Settings.ShowOnlyStarred" CheckedChanged="@(async (val) => { DataService.Settings.ShowOnlyStarred = val; await DataService.SaveSettings(); })"><span class="text-light">Show only starred</span></Check>
        </li>

        <li class="nav-item px-2 pt-2">
            <Check TValue="bool" Checked="@DataService.Settings.ShowOnlyTwoMinute" CheckedChanged="@(async (val) => { DataService.Settings.ShowOnlyTwoMinute = val; await DataService.SaveSettings(); })"><span class="text-light">Show only 2 min</span></Check>
        </li>

        <li class="nav-item px-2 pt-2">
            <Check TValue="bool" Checked="@DataService.Settings.ShowOnlyOverdue" CheckedChanged="@(async (val) => { DataService.Settings.ShowOnlyOverdue = val; await DataService.SaveSettings(); })"><span class="text-light">Show only overdue</span></Check>
        </li>

        <li class="nav-item px-2 pt-2">
            <Field>
                <FieldLabel Class="text-light">Show ratio:</FieldLabel>
                <RadioGroup TValue="Ratio" CheckedValue="@DataService.Settings.Ratio" CheckedValueChanged="@(async (val) => { DataService.Settings.Ratio = val; await DataService.SaveSettings(); })">
                    <Radio TValue="Ratio" Value="@(Ratio.ElapsedToAverage)"><span class="text-light">Elapsed time / Average interval</span></Radio>
                    <Radio TValue="Ratio" Value="@(Ratio.ElapsedToDesired)"><span class="text-light">Elapsed time / Desired interval</span></Radio>
                    <Radio TValue="Ratio" Value="@(Ratio.AverageToDesired)"><span class="text-light">Average interval / Desired interval</span></Radio>
                </RadioGroup>
            </Field>
        </li>

        <li class="nav-item px-2 py-0">
            <Field>
                <FieldLabel Class="text-light">Show only @DataService.Settings.ShowPercentMin % elapsed</FieldLabel>
                <Slider TValue="long" Min="0" Max="100" Step="5" Value="@DataService.Settings.ShowPercentMin" ValueChanged="@(async (val) => { DataService.Settings.ShowPercentMin = val; await DataService.SaveSettings(); })" />
            </Field>
        </li>

        <li class="nav-item px-2">
            <Field>
                <FieldLabel Class="text-light">Export file format:</FieldLabel>
                <RadioGroup TValue="bool" Name="format" @bind-CheckedValue="@allData">
                    <Radio TValue="bool" Value="true"><span class="text-light">Everything (json)</span></Radio>
                    <Radio TValue="bool" Value="false"><span class="text-light">Printable (yaml)</span></Radio>
                </RadioGroup>
            </Field>
        </li>

        <li class="nav-item px-2 pb-2">
            <Button Color="Color.Primary" Size="@State.Size" Block="true" @onclick="@(() => ExportFile())">Export</Button>
        </li>
        <li class="nav-item p-2">
            <label for="file-upload" class="d-block btn @State.ButtonSizeClass btn-primary mb-0">Import</label>
            <InputFile id="file-upload" class="d-none" OnChange="@ImportFile" />
        </li>
        <li class="nav-item p-2">
            <Button Color="Color.Primary" Size="@State.Size" Block="true" @onclick="@(async () => { await DataService.ClearData(); NavigationManager.NavigateTo("/", true); })">Delete all</Button>
        </li>

        <li class="nav-item px-2 pt-2">
            <Check TValue="bool" Checked="@DataService.Settings.ShowHabitId" CheckedChanged="@(async (val) => { DataService.Settings.ShowHabitId = val; await DataService.SaveSettings(); })"><span class="text-light">Show index</span></Check>
        </li>

        <li class="nav-item px-2 pt-2">
            <Check TValue="bool" Checked="@DataService.Settings.ShowHabitIdUpDownButtons" CheckedChanged="@(async (val) => { DataService.Settings.ShowHabitIdUpDownButtons = val; await DataService.SaveSettings(); })"><span class="text-light">Show index buttons</span></Check>
        </li>

        <li class="nav-item px-2 pt-2">
            <Check TValue="bool" Checked="@DataService.Settings.ShowAllSelectOptions" CheckedChanged="@(async (val) => { DataService.Settings.ShowAllSelectOptions = val; await DataService.SaveSettings(); })"><span class="text-light">Show all select options</span></Check>
        </li>

        <li class="nav-item px-2 pt-2">
            <Check TValue="bool" Checked="@DataService.Settings.ShowCategoriesInHeader" CheckedChanged="@(async (val) => { DataService.Settings.ShowCategoriesInHeader = val; await DataService.SaveSettings(); })"><span class="text-light">Show categories in header</span></Check>
        </li>

        <li class="nav-item px-2 pt-2">
            <Field>
                <FieldLabel Class="text-light">Sort:</FieldLabel>

                <div class="input-group flex-nowrap">

                    @if (!DataService.Settings.ShowAllSelectOptions)
                    {
                        <div class="input-group-prepend">
                            <Button Color="Color.Primary" Outline="true" Size="@State.Size" @onclick="@(() => PreviousSort())"><span class="fa fa-fw fa-chevron-left"></span></Button>
                        </div>
                    }

                    <Select TValue="Sort" MaxVisibleItems="@(DataService.Settings.ShowAllSelectOptions ? 4 : null)" Size="@State.Size" SelectedValue="@Sort" SelectedValueChanged="async (Sort val) => { Sort = val; }">
                        <SelectItem Value="@Sort.Index">Index</SelectItem>
                        <SelectItem Value="@Sort.Description">Description</SelectItem>
                        <SelectItem Value="@Sort.ElapsedTime">Elapsed time</SelectItem>
                        <SelectItem Value="@Sort.ElapsedPercent">Elapsed percent</SelectItem>
                        <SelectItem Value="@Sort.AverageToDesiredIntervalRatio">Average interval / Desired interval</SelectItem>
                    </Select>

                    @if (!DataService.Settings.ShowAllSelectOptions)
                    {
                        <div class="input-group-append">
                            <Button Color="Color.Primary" Outline="true" Size="@State.Size" @onclick="@(() => NextSort())"><span class="fa fa-fw fa-chevron-right"></span></Button>
                        </div>
                    }

                </div>

            </Field>
        </li>

        <li class="nav-item px-2 py-0">
            <Field>
                <FieldLabel Class="text-light">Size:</FieldLabel>

                <div class="input-group flex-nowrap">

                    @if (!DataService.Settings.ShowAllSelectOptions)
                    {
                        <div class="input-group-prepend">
                            <Button Color="Color.Primary" Outline="true" Size="@State.Size" @onclick="@(() => PreviousSize())"><span class="fa fa-fw fa-chevron-left"></span></Button>
                        </div>
                    }

                    <Select TValue="string" MaxVisibleItems="@(DataService.Settings.ShowAllSelectOptions ? 3 : null)" Size="@State.Size" SelectedValue="@ElementSize" SelectedValueChanged="async (string val) => { ElementSize = val; }">
                        @foreach (string size in elementSizes)
                        {
                            <SelectItem Value="@size">@size</SelectItem>
                        }
                    </Select>

                    @if (!DataService.Settings.ShowAllSelectOptions)
                    {
                        <div class="input-group-append">
                            <Button Color="Color.Primary" Outline="true" Size="@State.Size" @onclick="@(() => NextSize())"><span class="fa fa-fw fa-chevron-right"></span></Button>
                        </div>
                    }

                </div>

            </Field>
        </li>

        <li class="nav-item px-2 py-0">
            <Field>
                <FieldLabel Class="text-light">Theme:</FieldLabel>

                <div class="input-group flex-nowrap">

                    @if (!DataService.Settings.ShowAllSelectOptions)
                    {
                        <div class="input-group-prepend">
                            <Button Color="Color.Primary" Outline="true" Size="@State.Size" @onclick="@(() => PreviousTheme())"><span class="fa fa-fw fa-chevron-left"></span></Button>
                        </div>
                    }

                    <Select TValue="string" MaxVisibleItems="@(DataService.Settings.ShowAllSelectOptions ? bootswatchThemeDict.Count + 1 : null)" Size="@State.Size" SelectedValue="@BootswatchTheme" SelectedValueChanged="async (string val) => { BootswatchTheme = val; }">
                        <SelectItem Value="@("default")">default</SelectItem>
                        @foreach (string theme in bootswatchThemeDict.Keys)
                        {
                            <SelectItem Value="@theme">@theme</SelectItem>
                        }
                    </Select>

                    @if (!DataService.Settings.ShowAllSelectOptions)
                    {
                        <div class="input-group-append">
                            <Button Color="Color.Primary" Outline="true" Size="@State.Size" @onclick="@(() => NextTheme())"><span class="fa fa-fw fa-chevron-right"></span></Button>
                        </div>
                    }

                </div>

            </Field>
        </li>

    </ul>
</div>
