<Title Value="The last time"></Title>

@if (bootswatchThemeDict.ContainsKey(bootswatchTheme))
{
    <Link rel="stylesheet" href="@("https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/" + bootswatchTheme + "/bootstrap.min.css")" integrity="@(bootswatchThemeDict[bootswatchTheme])" crossorigin="anonymous" />
}
else
{
    <Link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
}

<div class="top-row navbar navbar-dark bg-primary">
    <a class="navbar-text" href="">The last time</a>

    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">

        <li class="nav-item p-2">
            <button class="btn btn-sm btn-primary" @onclick="@(() => {})">Export</button>
        </li>
        <li class="nav-item p-2">
            <button class="btn btn-sm btn-primary" @onclick="@(() => {})">Import</button>
        </li>
        <li class="nav-item p-2">
            <button class="btn btn-sm btn-primary" @onclick="@(() => {})">Delete all</button>
        </li>

        <li class="nav-item p-2">
            <NavLink class="nav-link btn btn-sm btn-primary" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <!--
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="people">
                <span class="oi oi-list-rich" aria-hidden="true"></span> People
            </NavLink>
        </li>
        -->
        <li class="nav-item p-2">
            <EditForm Model="@bootswatchTheme">
                <InputSelect multiple size="@(bootswatchThemeDict.Count + 1)" class="form-control form-control-sm" Value="@bootswatchTheme" ValueExpression="@(() => bootswatchTheme)" ValueChanged="async (string val) => { bootswatchTheme = val; }">
                    <option value="default">default</option>
                    @foreach (var theme in bootswatchThemeDict.Keys)
                    {
                        <option value="@theme">@theme</option>
                    }
                </InputSelect>
            </EditForm>
        </li>
    </ul>
</div>
