<Title Value="The last time"></Title>

@if (bootswatchThemeDict.ContainsKey(BootswatchTheme))
{
    <Link rel="stylesheet" href="@("https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/" + BootswatchTheme + "/bootstrap.min.css")" integrity="@(bootswatchThemeDict[BootswatchTheme])" crossorigin="anonymous" />
}
else
{
    <Link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
}

<div class="top-row navbar navbar-dark bg-primary">
    <a class="navbar-text" href="">When was the last time?</a>

    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass">
    <ul class="nav flex-column">

        <li class="nav-item p-2">
            <a class="d-block btn btn-sm btn-primary" @onclick="@(() => ExportFile())">Export</a>
        </li>
        <li class="nav-item p-2">
            <label for="file-upload" class="d-block btn btn-sm btn-primary mb-0">Import</label>
            <InputFile id="file-upload" class="d-none" OnChange="@ImportFile" />
        </li>
        <li class="nav-item p-2">
            <a class="d-block btn btn-sm btn-primary" @onclick="@(async () => { await DataService.ClearData(); NavigationManager.NavigateTo("/", true); })">Delete all</a>
        </li>

        <li class="nav-item p-2">
            <EditForm Model="@BootswatchTheme">
                <label for="theme" class="text-light">Theme:</label>
                <InputSelect id="theme" size="@(bootswatchThemeDict.Count + 1)" class="form-control form-control-sm" Value="@BootswatchTheme" ValueExpression="@(() => BootswatchTheme)" ValueChanged="async (string val) => { BootswatchTheme = val; }">
                    <option value="default">default</option>
                    @foreach (var theme in bootswatchThemeDict.Keys)
                    {
                        <option value="@theme">@theme</option>
                    }
                </InputSelect>
            </EditForm>
        </li>

    </ul>
</div>
