@page "/"

<div class="container-fluid py-3 d-flex flex-grow-1">
    <div id="overlay-parent" class="row flex-grow-1">
        <div class="col-md-12 col-lg-6">

            @if (editCategory)
            {
                <EditForm Model="@selectedCategory" OnValidSubmit="@(async () => { await DataService.SaveCategory(selectedCategory); editCategory = false; })">

                    <div class="input-group">
                        <InputText class="form-control form-control-sm" @bind-Value="@selectedCategory.Description" placeholder="Add new category..." />
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-sm btn-outline-primary">Save Category</button>
                            <button class="btn btn-sm btn-outline-primary" @onclick="@(() => { editCategory = false; })">Cancel</button>
                        </div>
                    </div>

                    <div><Microsoft.AspNetCore.Components.Forms.ValidationSummary /></div>
                    <DataAnnotationsValidator />

                </EditForm>
            }
            else
            {
                <EditForm Model="@selectedCategoryId">

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button class="btn btn-sm btn-outline-primary" @onclick="@(() => { selectedCategory = new Category(); editCategory = true; })">New Category</button>
                        </div>

                        <InputSelect class="form-control form-control-sm" Value="@selectedCategoryId" ValueExpression="@(() => selectedCategoryId)" ValueChanged="async (long val) => { selectedCategoryId = val; if (DataService.categoryDict.ContainsKey(val)) { selectedCategory = DataService.categoryDict[val]; } }">
                            <option value="0">All categories</option>
                            @foreach (var cat in DataService.categoryList)
                            {
                                <option value="@cat.Id">@cat.Description</option>
                            }
                        </InputSelect>

                        @if (selectedCategoryId > 1)
                        {
                            <div class="input-group-append">
                                <button class="btn btn-sm btn-outline-primary" @onclick="@(() => { editCategory = true; })">Edit Category</button>

                                <button class="btn btn-sm btn-outline-primary" @onclick="@(() => DataService.DeleteCategory(selectedCategory))">Delete Category</button>
                            </div>
                        }
                    </div>

                </EditForm>
            }

            <div class="accordion" id="accordion-parent">

                @foreach (var habit in DataService.habitList.Where(habit => habit.CategoryId == selectedCategoryId || selectedCategoryId == 0))
                {
                    <div class="card">
                        <button class="card-header collapsed btn d-flex" data-toggle="collapse" data-target="@("#collapse-" + habit.Id)">
                            <div class="m-1">@habit.Description</div>
                            <div class="m-1 ml-auto">@(habit.TimeList.Count > 0 ? habit.TimeList.Last().DateTime : "Never")</div>
                        </button>
                        <div id="@("collapse-" + habit.Id)" class="collapse" data-parent="#accordion-parent">
                            <div class="card-body p-3 d-flex">
                                <div class="m-1"><button class="btn btn-sm btn-primary" @onclick="@(() => { selectedHabit = habit; })">Details</button></div>
                                <div class="m-1 ml-auto"><button class="btn btn-sm btn-primary" @onclick="@(() => DataService.AddTime(habit))">Done</button></div>
                            </div>
                        </div>
                    </div>
                }

            </div>

            <div class="py-5"></div>

            <button class="btn btn-lg btn-primary rounded-circle add-habit" @onclick="@(() => { selectedHabit = new Habit{ CategoryId = selectedCategoryId != 0 ? selectedCategoryId : 1 }; editHabit = true; })"><span class="oi oi-plus"></span></button>
        </div>

        @if (selectedHabit != null)
        {
            <div id="overlay" class="col-md-12 col-lg-6 d-flex">
                <div class="card flex-grow-1">
                    <div class="card-body">
                        <button class="close" @onclick="@(() => { selectedHabit = null; })">&#10005;</button>

                        <div class="border p-1 flex-grow-1">@selectedHabit.CategoryId</div>

                        <button class="btn btn-sm btn-primary" @onclick="@(() => {})">Change category</button>

                        @if (editHabit)
                        {
                            <EditForm Model="@selectedHabit" OnValidSubmit="@(async () => { await DataService.SaveHabit(selectedHabit); editHabit = false; })">

                                <div class="input-group my-3">
                                    <InputText class="form-control form-control-sm" @bind-Value="@selectedHabit.Description" placeholder="Add new habit..." />
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-sm btn-primary">Save Habit</button>
                                        <button class="btn btn-sm btn-primary" @onclick="@(() => { editHabit = false; })">Cancel</button>
                                    </div>
                                </div>

                                <div><Microsoft.AspNetCore.Components.Forms.ValidationSummary /></div>
                                <DataAnnotationsValidator />
                            </EditForm>
                        }
                        else
                        {
                            <div class="input-group my-3 d-flex">

                                <div class="border p-1 flex-grow-1">@selectedHabit.Description</div>

                                <div class="input-group-append">
                                    <button class="btn btn-sm btn-primary" @onclick="@(() => { editHabit = true; })">Edit Habit</button>
                                    <button class="btn btn-sm btn-primary" @onclick="@(() => DataService.DeleteHabit(selectedHabit))">Delete Habit</button>
                                </div>
                            </div>
                        }

                        @foreach (var time in DataService.timeList.Where(t => t.HabitId == selectedHabit.Id))
                        {
                            <div class="input-group mb-1 d-flex">

                                <div class="border p-1 flex-grow-1">@time.DateTime</div>

                                <div class="input-group-append">

                                    <button class="btn btn-sm btn-primary" @onclick="@(() => { editTime = true; })">Edit Time</button>
                                    <button class="btn btn-sm btn-primary" @onclick="@(() => DataService.DeleteTime(time))">Delete Time</button>

                                    @if (editTime)
                                    {
                                        <button class="btn btn-sm btn-primary" @onclick="@(() => {})">Save Time</button>
                                        <button class="btn btn-sm btn-primary" @onclick="@(() => { editTime = false; })">Cancel</button>
                                    }

                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>